h1 {
    color: hotpink;
    font-weight: bold;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 10px dotted purple;
}


p+h2{
    font-style: italic;
}

.pro {
    color: darkgray;
    font-size: large;
}

ul {
    background-color: #eeeeee;
    border: 5px solid purple;
    padding-top: 30px;
    padding-bottom: 30px;
}

span{
    color: green;

}

a:link {
    color: orangered;
}

a:visited {
    color: green;
}